<style>
	#search-box {display: none}
</style>
<script type="text/javascript">
// <![CDATA[
function changeSearchType(btn, cookie) {
	if (cookie == 'search-s') return;

	var s = document.getElementById('nx-search-box');
	if (!s) return;

	if (typeof sf_default == 'undefined') sf_default = s.innerHTML;

	var txt = document.getElementById('keywords').value;

	if (cookie == 'search-y' || (!cookie && s.className == 'search-s')) {
		btn.style.backgroundPosition = '0 -17px';
		if (!cookie) btn.title = '{L_YANDEX_SEARCH}';
		s.className = 'search-y';
		s.innerHTML = '<form id="search-form" action="//yandex.ru/yandsearch" method="get" target="_blank"><fieldset><input style="margin-top: 4px; border-color: transparent;" type="search" name="text" id="keywords" maxlength="128" placeholder="{L_SEARCH_MINI}" /><input type="hidden" name="site" value="{S_SITE_SEARCHED_NAME}"/></fieldset></form>';
	}
	else if (cookie == 'search-g' || s.className == 'search-y') {
		btn.style.backgroundPosition = '0 -34px';
		if (!cookie) btn.title = '{L_GOOGLE_SEARCH}';
		s.className = 'search-g';
		s.innerHTML = '<form id="search-form" action="//www.google.com/search" method="get" target="_blank"><fieldset><input style="margin-top: 4px; border-color: transparent;" type="search" name="q" id="keywords" maxlength="128" placeholder="{L_SEARCH_MINI}" /><input type="hidden" name="domains" value="{S_SITE_SEARCHED_NAME}" /><input type="hidden" name="domains" value="{S_SITE_SEARCHED_NAME}" /><input type="hidden" name="sitesearch" value="{S_SITE_SEARCHED_NAME}" /></fieldset></form>';
	}
	else {
		btn.style.backgroundPosition = '0 0';
		btn.title = '{L_INNER_SEARCH}';
		s.className = 'search-s';
		s.innerHTML = sf_default;
	}

	document.getElementById('keywords').value = txt;
	localStorage['search_type'] = s.className;
//	Cookie.set('search_type', s.className, {duration: 365, path: '/'});
}
</script>
			<!-- IF S_CHANGE_SEARCH_TYPE -->
				<div id="search-box" class="search-box search-header" role="search" style="background: #fff; display:block">
					<div id="nx-search-type" onclick="changeSearchType(this, false)" title="{L_SEARCH_TYPE_SELECT}"></div>
					<div id="nx-search-box" class="search-s">
						<form id="search-form" action="{U_SEARCH}" method="get">
						<fieldset>
							<input style="margin-top: 4px; border-color: transparent;" name="keywords" id="keywords" maxlength="128" type="search" title="{L_SEARCH_KEYWORDS}" placeholder="{L_SEARCH_MINI}"/>
						</fieldset>
						</form>
					</div>
					<div class="button icon-button search-icon" style="border: medium none; border-radius: 4px; height: 20px; margin-right: 0px; margin-bottom: 0px;" id="nx-search-go" title="{L_SEARCH}" onclick="document.forms['search-form'].submit()"></div>
					<a style="border-radius: 4px;" href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
					{S_SEARCH_HIDDEN_FIELDS}
				</div>
			<!-- ENDIF -->
